<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre Argentina</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
        <div class="logo-barra">
        <div class="logoML">
        <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
        </div>
        <!--<p>Lugar para poner la barra de búsqueda</p>-->
        <!--<p><span class="blanco">Buscar productos, marcas</span></p>-->
        <form action="/" method="POST">
        <div class="barra-busqueda">
            <p class="busqueda">
                <label for="buscador"></label>
                <input type="search" id="buscador" name="buscador" placeholder="Buscar productos" style="height: 25px; border-radius: 5px; max-width:150px"> <span class="blanco"><i class="fas fa-search"></i></span></p>
        </div>
        </form>
        </div>
        <p class="center"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="main-header-bottom-bar">
        <ul class="left-navbar">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul class="right-navbar">
            <li><a style="text-decoration:none;color:black" href="/registro">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a style="text-decoration:none;color:black" href="/ingresar">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
        </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <p></p>
    </header>
    
    <main>
        <form action="/" method="POST">
        <div class="register">
        <h2>Creá tu cuenta</h2>
            <div>
                <label for="nombre-completo"></label>
                <input type="text" id="nombre-completo" name="nombre-completo" placeholder="Nombre y Apellido" minlength="3" required
                style="height: 25px; border-radius: 5px">
            </div>
            <br>
            <div>
                <label for="nombre-usuario"></label>
                <input type="text" id="nombre-usuario" name="nombre-usuario" placeholder="Nombre de usuario" required
                style="height: 25px; border-radius: 5px">
            </div>
            <br>
            <div>
                <label for="e-mail"></label>
                <input type="email" id="e-mail" name="e-mail" placeholder="email@dominio.com" required
                style="height: 25px; border-radius: 5px">
            </div>
            <br>
            <div>
                <label for="password"></label>
                <input type="password" pattern=".{8,}" id="password" name="password" placeholder="Contraseña" required
                style="height: 25px; border-radius: 5px">
            </div>
            <br>
            <div>
                <label for="confirmar-password"></label>
                <input type="password" pattern=".{8,}" id="confirmar-password" name="confirmar-password" placeholder="Confirmar contraseña" required
                style="height: 25px; border-radius: 5px">
            </div>              
            <br>
            <div>
                <label for="domicilio"></label>
                <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required
                style="height: 25px; border-radius: 5px">
            </div>
        <h4>Fecha de nacimiento</h4>
            <div>
                <label for="fecha-nacimiento"></label>
                <input id="fecha-nacimiento" type="date" name="fecha-nacimiento" required
                style="height: 25px; border-radius: 5px">
            </div>

        <h4>Perfil de usuario</h4>
            <div>
                <label Perfil>
                <input type="radio" name="perfil" value="Comprador"> Comprador
                <input type="radio" name="perfil" value="Vendedor"> Vendedor
                </label>
            </div>
        <h4>Intereses</h4>
            <div>
                <label>
                    <input name="Categorías" type="checkbox" value="Electro">Electro
                    </label>
            </div>
            <br>
            <div>
                <label>
                    <input name="Categorías" type="checkbox" value="Moda">Moda
                    </label>
            </div>
            <br>
            <div>
                <label>
                    <input name="Categorías" type="checkbox" value="Hogar">Hogar
                    </label>
            </div>
            <br>
            <div>
                <label>
                    <input name="Categorías" type="checkbox" value="Juguetería">Juguetería
                    </label>
            </div>
            <br>
            <div>
                <label>
                    <input name="Categorías" type="checkbox" value="Vida sana">Vida sana
                    </label>
            </div>
            <h4>Foto de perfil</h4>
            <div>
                <input type="file" name="imagen" accept="image/*">
            </div>
            <br>
            <button type="submit" class="boton-formulario-registro" >Enviar</button>
            <button type="reset" class="boton-cancelar">Cancelar</button>
        </div>
        </form>
    </main>



    <footer>
        <div class="contenedor-footer">
        <div class="footer-mensajes">
        <i class="fas fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
            seguro!</p>
        </div>
        <div class="footer-mensajes">
        <i class="fas fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
            Mercado Puntos.</p>
        </div>
        <div class="footer-mensajes">
        <i class="fas fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        </p>
        </div>
        </div>
        <br>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>